html,body {  font-size:14px; height:100%;  }
.hover{ opacity: .8; }

.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{ height: 100%; }

header{ background-color: #f2f2f2; position: fixed;left: 0;top: 0;width: 100%;}
header ul li { height: 50px;line-height: 50px; text-align: center; display: none; color: #323237; position: relative;font-size: 18px;  }
header ul li.active{ display: block; }

/*头部状态栏的背景颜色*/
.topStatus{
    width:100%;height:30px;
    background-color:#f2f2f2;
}
/*每个页面的顶部距离*/
.pageTop{
    width: 100%;
    height: 70px;
}

/*输入框右侧的单位*/
.inputRightText{
    position: absolute;;
    right: 1px;top: 1px;
    z-index: 9;line-height: 25px;
    height: 25px;
    font-size: 12px;
    padding:0 5px;
    background-color: white;

}

